.articles-list {
    .article.item {
        .cover {
            max-width: @wrapperWidth * 1.5;

            position: relative;
            overflow: hidden;

            .frame {
                position: relative;
                padding-top: 45%;

                .image {
                    background-position: center top;
                    background-repeat: no-repeat;
                    background-size: cover;

                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    top: 0;
                }
            }

            .link {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                top: 0;
            }
        }

        & > :first-child {
            margin-top: 0;
        }
        & > :last-child {
            margin-bottom: 0;
        }
    }
}