.article {
    .header {
        .welcome {
            max-width: 100%;
            margin-right: auto;
            margin-left: auto;

            .title {
                margin-bottom: 0;
                margin-right: auto;
                margin-left: auto;
                margin-top: 0;

                max-width: @wrapperWidth;
                width: 100%;

                font-size: 3rem;
                line-height: 3rem;

                @media @mlg {
                    font-size: 2rem;
                    line-height: 2rem;
                }
            }
        }

        &.cover {
            position: relative;
            overflow: hidden;
            z-index: 0;
    
            min-height: 480px;
            height: 100vh;

            background-color: rgb(0, 0, 0);

            @media @lg {
                &::before {
                    content: '';
                    background-color: @bodyBackground;
                    max-width: @wrapperWidth * 1.5;
                    border-radius: 5px 5px 0 0;
                    position: absolute;
                    margin-right: auto;
                    margin-left: auto;
                    z-index: 100;
                    height: 168px;
                    bottom: 0;
                    right: 40px;
                    left: 40px;
                }
            }
    
            .image {
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                z-index: -10;
                bottom: 0;
                right: 0;
                left: 0;
                top: 0;

                .overlay {
                    background-color: rgba(0, 0, 0);
                    position: absolute;
                    opacity: 0.75;
                    z-index: -5;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    top: 0;
                }
            }
    
            .head {
                position: relative;
                z-index: 15;

                color: rgb(255, 255, 255);

                .menu {            
                    li {            
                        a {
                            color: rgb(255, 255, 255);

                            &:hover {
                                color: darken(rgb(255, 255, 255), 15%);
                            }
                        }
                    }
            
                    & > :first-child {
                        margin-left: 0;
                    }
                    & > :last-child {
                        margin-right: 0;
                    }
                }
            }
    
            .welcome {
                justify-content: center;
                flex-direction: column;
                position: absolute;
                margin-right: 0;
                margin-left: 0;
                display: flex;
                bottom: 0;
                right: 0;
                left: 0;
                top: 0;

                .title {
                    margin-right: auto;
                    margin-left: auto;

                    max-width: @wrapperWidth;
                    width: 100%;

                    color: rgb(255, 255, 255);
                }
            }
        }
    }

    .content {
        position: relative;

        h2 {
            margin-bottom: @postMarginBottom;
            margin-right: auto;
            margin-left: auto;
            margin-top: @postMarginTop * 2;
            max-width: @wrapperWidth;
            width: 100%;

            @media @mlg {
                margin-bottom: @postMarginBottom / 2;
            }
        }
        h3 {
            margin-bottom: @postMarginBottom;
            margin-right: auto;
            margin-left: auto;
            margin-top: @postMarginTop * 1.5;
            max-width: @wrapperWidth;
            width: 100%;

            @media @mlg {
                margin-bottom: @postMarginBottom / 2;
            }
        }

        p {
            font-family: @postFontFamily;
            font-size: @postFontSize;
            line-height: 1.7;

            margin-bottom: @postMarginBottom;
            margin-right: auto;
            margin-left: auto;
            margin-top: @postMarginTop;
            max-width: @wrapperWidth;
            width: 100%;

            @media @mlg {
                margin-bottom: @postMarginBottom / 2;
                margin-top: @postMarginTop / 2;

                font-size: 1em;
                line-height: 1.6;
            }

            code {
                background-color: @textMarkerColor;

                font-family: @postFontFamily;
                font-size: 1em;
            }
        }

        a {
            text-decoration: underline;
            text-decoration-skip: ink;
            transition: color 320ms;
            color: @textColor;

            &:hover {
                color: @linkHoverColor;
            }
        }

        figure {
            position: relative;
            overflow: hidden;

            flex-direction: column;
            display: flex;

            &.post__image {
                margin-bottom: @postMarginBottom;
                margin-right: auto;
                margin-left: auto;
                margin-top: @postMarginTop;

                max-width: @wrapperWidth;
                width: 100%;
            }

            &.post__image- {
                &-full {
                    margin-bottom: @postMarginBottom * 2;
                    margin-right: -40px;
                    margin-left: -40px;
                    margin-top: @postMarginTop * 2;

                    @media @mlg {
                        margin-bottom: @postMarginBottom;
                        margin-right: -24px;
                        margin-left: -24px;
                        margin-top: @postMarginTop;
                    }
                }
                &-wide {
                    margin-bottom: @postMarginBottom * 2;
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: @postMarginTop * 2;

                    max-width: @wrapperWidth * 1.5;
                    width: 100%;

                    @media @mlg {
                        margin-bottom: @postMarginBottom;
                        margin-top: @postMarginTop;
                    }
                }
                &-left {
                    margin-bottom: @postMarginBottom;
                    margin-right: @postMarginTop;
                    margin-left: @wrapperWidth / 2;

                    max-width: @wrapperWidth / 2;
                    width: 100%;

                    float: left;

                    @media @mlg {
                        margin-right: auto;
                        margin-left: auto;
                        margin-top: @postMarginTop;

                        max-width: @wrapperWidth;
                        float: none;
                    }
                }
                &-right {
                    margin-bottom: @postMarginBottom;
                    margin-right: @wrapperWidth / 2;
                    margin-left: @postMarginTop;

                    max-width: @wrapperWidth / 2;
                    width: 100%;
                    
                    float: right;

                    @media @mlg {
                        margin-right: auto;
                        margin-left: auto;
                        margin-top: @postMarginTop;

                        max-width: @wrapperWidth;
                        float: none;
                    }
                }
                &-center {
                    margin-bottom: @postMarginBottom;
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: @postMarginTop;

                    max-width: @wrapperWidth;
                    width: 100%;

                    img {
                        margin-right: auto;
                        margin-left: auto;
                    }
                }
            }

            figcaption {
                margin-right: auto;
                margin-left: auto;
                margin-top: @postMarginTop / 3;

                max-width: @wrapperWidth;
                width: 100%;
            }
        }

        blockquote {
            margin-bottom: @postMarginBottom * 2;
            margin-right: auto;
            margin-left: auto;
            margin-top: @postMarginTop * 2;

            @media @mlg {
                margin-bottom: @postMarginBottom;
                margin-top: @postMarginTop;
            }

            p {
                margin-bottom: 0;
                margin-top: 0;

                font-size: @postFontSize + 0.5;
                font-style: italic;
                line-height: 1.6;

                text-align: center;

                @media @mlg {
                    font-size: @postFontSize;
                }
            }
        }

        hr {
            background-color: @border;
            margin-right: -24px;
            margin-left: -24px;
            height: 1px;
            border: 0;

            @media @lg {
                margin-right: -40px;
                margin-left: -40px;
            }
        }

        table {
            margin-bottom: @postMarginBottom;
            margin-right: auto;
            margin-left: auto;
            margin-top: @postMarginTop;

            border-collapse: collapse;
            max-width: @wrapperWidth;
            width: 100%;

            @media @mlg {
                margin-bottom: @postMarginBottom / 2;
                margin-top: @postMarginTop / 2;
            }

            tbody {
                tr {
                    td {
                        border: 1px solid @textSubColor;
                        padding-bottom: 5px;
                        padding-right: 10px;
                        padding-left: 10px;
                        padding-top: 5px;
                        width: 50%;

                        @media @mlg {
                            display: block;
                            width: 100%;
                        }

                        &:first-of-type {
                            padding-left: 0;
                            border-left: 0;

                            @media @lg {
                                text-align: right;
                            }
                            @media @mlg {
                                border-bottom: 0;
                                border-right: 0;
                                border-top: 0;

                                padding-bottom: 0;
                                padding-right: 0;
                            }
                        }
                        &:last-of-type {
                            padding-right: 0;
                            border-right: 0;
                            border-top: 0;

                            @media @lg {
                                text-align: left;
                            }
                            @media @mlg {
                                border-left: 0;
                                border-top: 0;

                                padding-left: 0;
                                padding-top: 0;
                            }
                        }
                    }

                    &:first-of-type {
                        td {
                            border-top: 0;

                            @media @mlg {
                                padding-top: 0;
                            }
                        }
                    }
                    &:last-of-type {
                        td {
                            border-bottom: 0;

                            @media @mlg {
                                padding-bottom: 0;
                            }
                        }  
                    }
                }
            }
        }

        .gallery {
            margin-bottom: @postMarginBottom * 2;
            margin-right: auto;
            margin-left: auto;
            margin-top: @postMarginTop * 2;

            max-width: @wrapperWidth * 1.5;
            width: 100%;

            position: relative;
            right: -5px;
            left: -5px;

            @media @mlg {
                margin-bottom: @postMarginBottom;
                margin-top: @postMarginTop;
            }

            @media all and (min-width: 20em) {
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }

            @media all and (min-width: 20em) {
                &[data-columns="1"] .gallery__item {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 100%;
                    flex: 1 0 100%;
                }
            }

            @media all and (min-width: 30em) {
                &[data-columns="2"] .gallery__item {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 50%;
                    flex: 1 0 50%;
                }
            }

            @media all and (min-width: 37.5em) {
                &[data-columns="3"] .gallery__item {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 33.333%;
                    flex: 1 0 33.333%;
                }
            }

            @media all and (min-width: 56.25em) {
                &[data-columns="4"] .gallery__item {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 25%;
                    flex: 0 1 25%;
                }
            }

            @media all and (min-width: 56.25em) {
                &[data-columns="5"] .gallery__item {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 20%;
                    flex: 0 1 20%;
                }
            }

            @media all and (min-width: 56.25em) {
                &[data-columns="6"] .gallery__item {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 16.666%;
                    flex: 0 1 16.666%;
                }
            }

            @media all and (min-width: 56.25em) {
                &[data-columns="7"] .gallery__item {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 14.285%;
                    flex: 1 0 14.285%;
                }
            }
            
            @media all and (min-width: 56.25em) {
                &[data-columns="8"] .gallery__item {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 12.5%;
                    flex: 1 0 12.5%;
                }
            }

            .gallery__item {
                position: relative;
                margin: 0;

                @media all and (min-width: 20em) {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 50%;
                    flex: 1 0 50%;
                }

                @media all and (min-width: 30em) {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 33.333%;
                    flex: 1 0 33.333%;
                }

                @media all and (min-width: 37.5em) {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 25%;
                    flex: 1 0 25%;
                }

                a {
                    padding-bottom: 5px;
                    padding-right: 5px;
                    padding-left: 5px;
                    padding-top: 5px;
                    display: block;
                    height: 100%;
                    width: 100%;

                    &::after {
                        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
                        background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
                        background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
                        background: linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
                        -webkit-transition: all .24s ease-out;
                        -o-transition: all .24s ease-out;
                        transition: all .24s ease-out;
                        height: calc(100% - 0.56667rem);
                        width: calc(100% - 0.56667rem);
                        position: absolute;
                        bottom: 0.28333rem;
                        right: 0.28333rem;
                        left: 0.28333rem;
                        top: 0.28333rem;
                        display: block;
                        content: '';
                        opacity: 0;
                    }
                    &:hover {
                        &::after {
                            opacity: 1;
                        }
                    }
                }

                img {
                    -o-object-fit: cover;
                    object-fit: cover;
                    display: block;
                    height: 100%;
                    width: 100%;
                }

                figcaption {
                    -webkit-transform: translate(-50%, 1.2rem);
                    -ms-transform: translate(-50%, 1.2rem);
                    transform: translate(-50%, 1.2rem);
                    -webkit-transition: all .24s ease-out;
                    -o-transition: all .24s ease-out;
                    transition: all .24s ease-out;
                    color: rgb(255, 255, 255);
                    font-family: @bodyFontFamily;
                    font-size: @postSmallFontSize;
                    text-align: center;
                    position: absolute;
                    bottom: 1.2rem;
                    opacity: 0;
                    left: 50%;
                }

                &:hover {
                    figcaption {
                        -webkit-transform: translate(-50%, 0);
                        -ms-transform: translate(-50%, 0);
                        transform: translate(-50%, 0);
                        opacity: 1;
                    }
                }
            }
        }

        .post__toc {
            margin-bottom: @postMarginBottom * 2;
            margin-right: auto;
            margin-left: auto;
            margin-top: @postMarginTop * 2;

            @media @mlg {
                margin-bottom: @postMarginBottom;
                margin-top: @postMarginTop;
            }

            max-width: @wrapperWidth;
            width: 100%;

            background-color: #e0e0e6;
            border-radius: 10px;
            position: relative;
            padding: 2rem;
            display: block;

            h1, h2, h3, h4, h5, h6 {
                margin-bottom: 1rem;
                margin-top: 0;
            }

            ul {
                margin-left: 1.5em;
                counter-reset: li;
                list-style: none;

                li {
                    counter-increment: li;
                    margin-bottom: 5px;
                    margin-top: 5px;

                    &::before {
                        color: darken(@textSubColor, 20%);
                        content: counter(li, decimal-leading-zero);
                        display: inline-block;
                        margin-left: -1.5em;
                        margin-right: 0.5em;
                        text-align: right;
                        direction: rtl;
                        width: 1em;
                    }

                    a {
                        text-decoration: none;
                        text-decoration-skip: ink;
                        transition: color 320ms;
                        color: @textColor;
            
                        &:hover {
                            color: @linkHoverColor;
                        }
                    }

                    ul {
                        margin-bottom: 10px;
                        margin-top: 10px;
                        margin-left: 0;

                        li {
                            &::before {
                                color: darken(@textSubColor, 10%);
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }

        & > :first-child {
            margin-top: 0 !important;
        }

        & > :last-child {
            margin-bottom: 0 !important;
        }
    }

    .footer {
        .time {
            color: @textSubColor;
            display: block;

            @media @lg {
                text-align: right;
            }
        }
        .last-updated {
            font-size: @postSmallFontSize;
            color: @textSubColor;
            display: block;

            @media @lg {
                text-align: right;
            }
        }
        .readmore {
            a {
                font-family: @bodyFontFamily;
                font-size: @bodyFontSize - 0.15;
                transition: color 320ms;
                text-decoration: none;
                border-radius: 50px;
                padding-bottom: 5px;
                padding-right: 20px;
                padding-left: 20px;
                padding-top: 5px;
                border: 1px solid;
                display: block;

                &:hover {
                    color: @textColor;
                }
            }
        }
        .tags {
            list-style: none;

            li {
                display: inline;
                margin-right: 5px;
                margin-left: 5px;

                a {
                    text-decoration: none;
                    text-decoration-skip: ink;
                    transition: color 320ms;

                    font-family: @bodyFontFamily;
                    font-size: @bodyFontSize;
                    color: @textSubColor;

                    &:hover {
                        color: darken(@textSubColor, 20%);
                    }
                }
            }

            & > :first-child {
                margin-left: 0;
            }
            & > :last-child {
                margin-right: 0;
            }
        }
    }

    &.article-workshop {
        .browser {
            box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.4), 0 12px 24px -6px rgba(0, 0, 0, 0.4), 0 24px 64px 12px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            position: relative;
            overflow: hidden;
            color: #323b40;

            max-width: @wrapperWidth * 1.5;
            margin-right: auto;
            margin-left: auto;
            height: 100%;
            width: 100%;

            .chrome {
                background: rgb(45, 45, 45);
                position: relative;
                height: 40px;
                right: 0;
                left: 0;
                top: 0;

                & > span {
                    border-radius: 12px;
                    display: block;
                    margin: 13px 4px;
                    height: 12px;
                    width: 12px;
                    float: left;

                    &:first-child {
                        margin-left: 13px;
                    }
                    &.red {
                        background: rgb(255, 85, 82);
                    }
                    &.amber {
                        background: rgb(255, 190, 66);
                    }
                    &.green {
                        background: rgb(49, 199, 74);
                    }
                }

                .url {
                    background-color: rgb(60, 60, 60);
                    -webkit-transform: translateX(50%);
                    -moz-transform: translateX(50%);
                    transform: translateX(50%);
                    border-radius: 50px;
                    position: absolute;
                    overflow: hidden;
                    height: 24px;
                    width: 60%;
                    right: 50%;
                    top: 8px;

                    .title {
                        color: rgb(255, 255, 255);
                        font-weight: normal;
                        padding-right: 15px;
                        padding-left: 15px;
                        line-height: 24px;
                        font-size: @bodyFontSize - 0.15;

                        a {
                            color: rgb(255, 255, 255);
                            transition: color 320ms;
                            text-decoration: none;

                            &:hover {
                                color: darken(rgb(255, 255, 255), 15%);
                            }
                        }
                    }
                }
            }
            .content {
                max-width: @wrapperWidth * 1.5;
                width: 100%;

                .cover {
                    background-position: center top;
                    background-repeat: no-repeat;
                    background-size: cover;

                    position: relative;
                    overflow: hidden;
                    max-width: @wrapperWidth * 1.5;
                    width: 100%;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    top: 0;

                    .image {
                        visibility: hidden;
                        opacity: 0;
                    }
                }
            }
        }
        .main {
            background-color: transparent;
        }
        .footer {
            max-width: @wrapperWidth;
            margin-right: auto;
            margin-left: auto;

            .block {
                p {
                    color: @textColor;

                    &:first-child {
                        font-size: @postSmallFontSize;
                        font-style: italic;
                    }

                    time {
                        text-align: left;
                        color: @textColor;
                        display: initial;
                    }

                    a {
                        transition: color 320ms;
                        text-decoration: none;
                        color: @textColor;

                        &:hover {
                            color: lighten(@textColor, 30%);
                        }
                    }
                }
                .tags {
                    li {
                        margin-right: 0;
                        margin-left: 0;
                        display: block;
                    }
                    a {
                        color: @textColor;

                        &:hover {
                            color: lighten(@textColor, 30%);
                        }
                    }
                }
            }
        }
    }
}