.workshop-list {
    position: relative;

    .item {
        max-width: ~'calc('@wrapperWidth ~' + 24px + 24px)';
        margin-right: auto;
        margin-left: auto;
        width: 100%;

        @media @xl {
            max-width: @wrapperWidth * 1.5;
        }

        .thumbnail {
            box-shadow: 0 1px 20px 0 rgba(0, 0, 0,.1);
            background-color: rgb(45, 45, 45);
            border-radius: .375rem;
        
            position: relative;
            overflow: hidden;

            .browser {
                position: relative;
                overflow: hidden;
                color: #323b40;

                max-width: @wrapperWidth * 1.5;
                margin-right: auto;
                margin-left: auto;
                height: 100%;
                width: 100%;

                .chrome {
                    background-color: rgb(45, 45, 45);
                    position: relative;
                    height: 40px;
                    right: 0;
                    left: 0;
                    top: 0;

                    & > span {
                        border-radius: 12px;
                        display: block;
                        margin: 13px 4px;
                        height: 12px;
                        width: 12px;
                        float: left;

                        &:first-child {
                            margin-left: 13px;
                        }
                        &.red {
                            background: rgb(255, 85, 82);
                        }
                        &.amber {
                            background: rgb(255, 190, 66);
                        }
                        &.green {
                            background: rgb(49, 199, 74);
                        }
                    }

                    .url {
                        background-color: rgb(60, 60, 60);
                        -webkit-transform: translateX(50%);
                        -moz-transform: translateX(50%);
                        transform: translateX(50%);
                        border-radius: 50px;
                        position: absolute;
                        overflow: hidden;
                        height: 24px;
                        width: 60%;
                        right: 50%;
                        top: 8px;

                        .title {
                            color: rgb(255, 255, 255);
                            font-weight: normal;
                            padding-right: 15px;
                            padding-left: 15px;
                            line-height: 24px;
                            font-size: @bodyFontSize - 0.15;

                            a {
                                color: rgb(255, 255, 255);
                                transition: color 320ms;
                                text-decoration: none;

                                &:hover {
                                    color: darken(rgb(255, 255, 255), 15%);
                                }
                            }
                        }
                    }
                }
                .window {
                    max-width: @wrapperWidth * 1.5;
                    position: relative;
                    width: 100%;

                    .cover {
                        background-position: center top;
                        background-repeat: no-repeat;
                        background-size: cover;

                        position: relative;
                        overflow: hidden;
                        max-width: @wrapperWidth * 1.5;
                        width: 100%;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        top: 0;

                        .image {
                            visibility: hidden;
                            opacity: 0;
                        }
                    }

                    .link {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }
    }
}