.post-work {
    position: relative;

    header {
        h1.title {
            grid-column-start: var(--grid-cs);
            grid-column-end: var(--grid-ce);

            @media only screen and (min-width: @mobile-size + 1) {
                --grid-cs: 6;
                --grid-ce: 28;        
            }
            @media only screen and (max-width: @mobile-size) {
                --grid-cs: 3;
                --grid-ce: 31;
            }

            margin-right: unset;
            margin-left: unset;
            margin-top: unset;

            font-family: var(--fontFamilyTitle);
            font-weight: 900;

            a {
                border-bottom: unset;
            }

            @media only screen and (min-width: @mobile-size + 1) {
                font-size: 4.209rem;
                line-height: calc(var(--lineHeight) * 3);

                text-align: center;

                margin-bottom: calc(var(--lineHeight) * 3);
            }
            @media only screen and (max-width: @mobile-size) {
                font-size: 2rem;
                line-height: calc(var(--lineHeight) * 1.5);

                margin-bottom: calc(var(--lineHeight) * 1);
            }

            text-transform: uppercase;

            a {
                &:hover {
                    color: unset;
                }
            }

            & + * {
                margin-top: unset !important;
            }
        }
        p {
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    .thumbnail {
        position: relative;
        overflow: hidden;

        margin-bottom: 0;
        margin-top: 0;

        img {
            margin-bottom: 0;
            margin-top: 0;

            position: relative;
            overflow: hidden;

            min-width: 100%;
            display: block;

            background-color: var(--colorElements);

            -webkit-filter: url(#goo);
            -moz-filter: url(#goo);
            filter: url(#goo);
        }

        a {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
        }
    }
}