@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("../fonts/inter/Inter-Thin-BETA.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-Thin-BETA.woff?v=3.11") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 100;
    font-display: swap;
    src: url("../fonts/inter/Inter-ThinItalic-BETA.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-ThinItalic-BETA.woff?v=3.11") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("../fonts/inter/Inter-ExtraLight-BETA.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-ExtraLight-BETA.woff?v=3.11") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 200;
    font-display: swap;
    src: url("../fonts/inter/Inter-ExtraLightItalic-BETA.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-ExtraLightItalic-BETA.woff?v=3.11") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/inter/Inter-Light-BETA.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-Light-BETA.woff?v=3.11") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/inter/Inter-LightItalic-BETA.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-LightItalic-BETA.woff?v=3.11") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/inter/Inter-Regular.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-Regular.woff?v=3.11") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/inter/Inter-Italic.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-Italic.woff?v=3.11") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/inter/Inter-Medium.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-Medium.woff?v=3.11") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/inter/Inter-MediumItalic.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-MediumItalic.woff?v=3.11") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/inter/Inter-SemiBold.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-SemiBold.woff?v=3.11") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/inter/Inter-SemiBoldItalic.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-SemiBoldItalic.woff?v=3.11") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/inter/Inter-Bold.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-Bold.woff?v=3.11") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/inter/Inter-BoldItalic.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-BoldItalic.woff?v=3.11") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/inter/Inter-ExtraBold.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-ExtraBold.woff?v=3.11") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/inter/Inter-ExtraBoldItalic.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-ExtraBoldItalic.woff?v=3.11") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/inter/Inter-Black.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-Black.woff?v=3.11") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/inter/Inter-BlackItalic.woff2?v=3.11") format("woff2"),
        url("../fonts/inter/Inter-BlackItalic.woff?v=3.11") format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

    html { font-family: 'Inter', sans-serif; }
    @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
    }
*/
@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("../fonts/inter/Inter-roman.var.woff2?v=3.11") format("woff2");
}
@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("../fonts/inter/Inter-italic.var.woff2?v=3.11") format("woff2");
}


/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

    * { font-variation-settings: "slnt" 0deg }
    .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
    font-family: 'Inter var experimental';
    font-weight: 100 900;
    font-display: swap;
    font-style: oblique 0deg 10deg;
    src: url("../fonts/inter/Inter.var.woff2?v=3.11") format("woff2");
}
  

@font-face {
    font-family: 'Adelle Cyrillic';
    src: url('../fonts/adelle/AdelleCyrillic-Light.eot');
    src: local('Adelle Cyrillic Light'), local('AdelleCyrillic-Light'),
        url('../fonts/adelle/AdelleCyrillic-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/adelle/AdelleCyrillic-Light.woff2') format('woff2'),
        url('../fonts/adelle/AdelleCyrillic-Light.woff') format('woff'),
        url('../fonts/adelle/AdelleCyrillic-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Adelle Cyrillic';
    src: url('../fonts/adelle/AdelleCyrillic-Thin.eot');
    src: local('Adelle Cyrillic Thin'), local('AdelleCyrillic-Thin'),
        url('../fonts/adelle/AdelleCyrillic-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/adelle/AdelleCyrillic-Thin.woff2') format('woff2'),
        url('../fonts/adelle/AdelleCyrillic-Thin.woff') format('woff'),
        url('../fonts/adelle/AdelleCyrillic-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Adelle Cyrillic';
    src: url('../fonts/adelle/AdelleCyrillic.eot');
    src: local('Adelle Cyrillic'), local('AdelleCyrillic'),
        url('../fonts/adelle/AdelleCyrillic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/adelle/AdelleCyrillic.woff2') format('woff2'),
        url('../fonts/adelle/AdelleCyrillic.woff') format('woff'),
        url('../fonts/adelle/AdelleCyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Adelle Cyrillic';
    src: url('../fonts/adelle/AdelleCyrillic-LightItalic.eot');
    src: local('Adelle Cyrillic Light Italic'), local('AdelleCyrillic-LightItalic'),
        url('../fonts/adelle/AdelleCyrillic-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/adelle/AdelleCyrillic-LightItalic.woff2') format('woff2'),
        url('../fonts/adelle/AdelleCyrillic-LightItalic.woff') format('woff'),
        url('../fonts/adelle/AdelleCyrillic-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Adelle Cyrillic';
    src: url('../fonts/adelle/AdelleCyrillic-SemiBold.eot');
    src: local('Adelle Cyrillic SemiBold'), local('AdelleCyrillic-SemiBold'),
        url('../fonts/adelle/AdelleCyrillic-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/adelle/AdelleCyrillic-SemiBold.woff2') format('woff2'),
        url('../fonts/adelle/AdelleCyrillic-SemiBold.woff') format('woff'),
        url('../fonts/adelle/AdelleCyrillic-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Adelle Cyrillic';
    src: url('../fonts/adelle/AdelleCyrillic-Heavy.eot');
    src: local('Adelle Cyrillic Heavy'), local('AdelleCyrillic-Heavy'),
        url('../fonts/adelle/AdelleCyrillic-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/adelle/AdelleCyrillic-Heavy.woff2') format('woff2'),
        url('../fonts/adelle/AdelleCyrillic-Heavy.woff') format('woff'),
        url('../fonts/adelle/AdelleCyrillic-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Adelle Cyrillic';
    src: url('../fonts/adelle/AdelleCyrillic-Italic.eot');
    src: local('Adelle Cyrillic Italic'), local('AdelleCyrillic-Italic'),
        url('../fonts/adelle/AdelleCyrillic-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/adelle/AdelleCyrillic-Italic.woff2') format('woff2'),
        url('../fonts/adelle/AdelleCyrillic-Italic.woff') format('woff'),
        url('../fonts/adelle/AdelleCyrillic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Adelle Cyrillic';
    src: url('../fonts/adelle/AdelleCyrillic-SemiBoldItalic.eot');
    src: local('Adelle Cyrillic SemiBold Italic'), local('AdelleCyrillic-SemiBoldItalic'),
        url('../fonts/adelle/AdelleCyrillic-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/adelle/AdelleCyrillic-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/adelle/AdelleCyrillic-SemiBoldItalic.woff') format('woff'),
        url('../fonts/adelle/AdelleCyrillic-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Adelle Cyrillic';
    src: url('../fonts/adelle/AdelleCyrillic-Bold.eot');
    src: local('Adelle Cyrillic Bold'), local('AdelleCyrillic-Bold'),
        url('../fonts/adelle/AdelleCyrillic-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/adelle/AdelleCyrillic-Bold.woff2') format('woff2'),
        url('../fonts/adelle/AdelleCyrillic-Bold.woff') format('woff'),
        url('../fonts/adelle/AdelleCyrillic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Adelle Cyrillic';
    src: url('../fonts/adelle/AdelleCyrillic-HeavyItalic.eot');
    src: local('Adelle Cyrillic Heavy Italic'), local('AdelleCyrillic-HeavyItalic'),
        url('../fonts/adelle/AdelleCyrillic-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/adelle/AdelleCyrillic-HeavyItalic.woff2') format('woff2'),
        url('../fonts/adelle/AdelleCyrillic-HeavyItalic.woff') format('woff'),
        url('../fonts/adelle/AdelleCyrillic-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Adelle Cyrillic';
    src: url('../fonts/adelle/AdelleCyrillic-Extrabold.eot');
    src: local('Adelle Cyrillic Extrabold'), local('AdelleCyrillic-Extrabold'),
        url('../fonts/adelle/AdelleCyrillic-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/adelle/AdelleCyrillic-Extrabold.woff2') format('woff2'),
        url('../fonts/adelle/AdelleCyrillic-Extrabold.woff') format('woff'),
        url('../fonts/adelle/AdelleCyrillic-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Adelle Cyrillic';
    src: url('../fonts/adelle/AdelleCyrillic-ThinItalic.eot');
    src: local('Adelle Cyrillic Thin Italic'), local('AdelleCyrillic-ThinItalic'),
        url('../fonts/adelle/AdelleCyrillic-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/adelle/AdelleCyrillic-ThinItalic.woff2') format('woff2'),
        url('../fonts/adelle/AdelleCyrillic-ThinItalic.woff') format('woff'),
        url('../fonts/adelle/AdelleCyrillic-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Adelle Cyrillic';
    src: url('../fonts/adelle/AdelleCyrillic-BoldItalic.eot');
    src: local('Adelle Cyrillic Bold Italic'), local('AdelleCyrillic-BoldItalic'),
        url('../fonts/adelle/AdelleCyrillic-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/adelle/AdelleCyrillic-BoldItalic.woff2') format('woff2'),
        url('../fonts/adelle/AdelleCyrillic-BoldItalic.woff') format('woff'),
        url('../fonts/adelle/AdelleCyrillic-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Adelle Cyrillic';
    src: url('../fonts/adelle/AdelleCyrillic-ExtraboldItalic.eot');
    src: local('Adelle Cyrillic Extrabold Italic'), local('AdelleCyrillic-ExtraboldItalic'),
        url('../fonts/adelle/AdelleCyrillic-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/adelle/AdelleCyrillic-ExtraboldItalic.woff2') format('woff2'),
        url('../fonts/adelle/AdelleCyrillic-ExtraboldItalic.woff') format('woff'),
        url('../fonts/adelle/AdelleCyrillic-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}