@font-face {
    font-family: 'PT Root UI';
    src: url('../fonts/ptroot/PTRootUI-Medium.eot');
    src: local('PT Root UI Medium'), local('PTRootUI-Medium'),
        url('../fonts/ptroot/PTRootUI-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ptroot/PTRootUI-Medium.woff2') format('woff2'),
        url('../fonts/ptroot/PTRootUI-Medium.woff') format('woff'),
        url('../fonts/ptroot/PTRootUI-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'PT Root UI';
    src: url('../fonts/ptroot/PTRootUI-Light.eot');
    src: local('PT Root UI Light'), local('PTRootUI-Light'),
        url('../fonts/ptroot/PTRootUI-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ptroot/PTRootUI-Light.woff2') format('woff2'),
        url('../fonts/ptroot/PTRootUI-Light.woff') format('woff'),
        url('../fonts/ptroot/PTRootUI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'PT Root UI';
    src: url('../fonts/ptroot/PTRootUI-Regular.eot');
    src: local('PT Root UI'), local('PTRootUI-Regular'),
        url('../fonts/ptroot/PTRootUI-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ptroot/PTRootUI-Regular.woff2') format('woff2'),
        url('../fonts/ptroot/PTRootUI-Regular.woff') format('woff'),
        url('../fonts/ptroot/PTRootUI-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Root UI';
    src: url('../fonts/ptroot/PTRootUI-Bold.eot');
    src: local('PT Root UI Bold'), local('PTRootUI-Bold'),
        url('../fonts/ptroot/PTRootUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ptroot/PTRootUI-Bold.woff2') format('woff2'),
        url('../fonts/ptroot/PTRootUI-Bold.woff') format('woff'),
        url('../fonts/ptroot/PTRootUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('../fonts/adelle/AdelleCyrillic-Thin.eot');
	src: local('Adelle Cyrillic Thin'), local('AdelleCyrillic-Thin'),
		url('../fonts/adelle/AdelleCyrillic-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/adelle/AdelleCyrillic-Thin.woff') format('woff'),
		url('../fonts/adelle/AdelleCyrillic-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('../fonts/adelle/AdelleCyrillic-ThinItalic.eot');
	src: local('Adelle Cyrillic Thin Italic'), local('AdelleCyrillic-ThinItalic'),
		url('../fonts/adelle/AdelleCyrillic-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/adelle/AdelleCyrillic-ThinItalic.woff') format('woff'),
		url('../fonts/adelle/AdelleCyrillic-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('../fonts/adelle/AdelleCyrillic-BoldItalic.eot');
	src: local('Adelle Cyrillic Bold Italic'), local('AdelleCyrillic-BoldItalic'),
		url('../fonts/adelle/AdelleCyrillic-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/adelle/AdelleCyrillic-BoldItalic.woff') format('woff'),
		url('../fonts/adelle/AdelleCyrillic-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('../fonts/adelle/AdelleCyrillic-Bold.eot');
	src: local('Adelle Cyrillic Bold'), local('AdelleCyrillic-Bold'),
		url('../fonts/adelle/AdelleCyrillic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/adelle/AdelleCyrillic-Bold.woff') format('woff'),
		url('../fonts/adelle/AdelleCyrillic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('../fonts/adelle/AdelleCyrillic-ExtraboldItalic.eot');
	src: local('Adelle Cyrillic Extrabold Italic'), local('AdelleCyrillic-ExtraboldItalic'),
		url('../fonts/adelle/AdelleCyrillic-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/adelle/AdelleCyrillic-ExtraboldItalic.woff') format('woff'),
		url('../fonts/adelle/AdelleCyrillic-ExtraboldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('../fonts/adelle/AdelleCyrillic-Heavy.eot');
	src: local('Adelle Cyrillic Heavy'), local('AdelleCyrillic-Heavy'),
		url('../fonts/adelle/AdelleCyrillic-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/adelle/AdelleCyrillic-Heavy.woff') format('woff'),
		url('../fonts/adelle/AdelleCyrillic-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('../fonts/adelle/AdelleCyrillic-LightItalic.eot');
	src: local('Adelle Cyrillic Light Italic'), local('AdelleCyrillic-LightItalic'),
		url('../fonts/adelle/AdelleCyrillic-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/adelle/AdelleCyrillic-LightItalic.woff') format('woff'),
		url('../fonts/adelle/AdelleCyrillic-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('../fonts/adelle/AdelleCyrillic-Italic.eot');
	src: local('Adelle Cyrillic Italic'), local('AdelleCyrillic-Italic'),
		url('../fonts/adelle/AdelleCyrillic-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/adelle/AdelleCyrillic-Italic.woff') format('woff'),
		url('../fonts/adelle/AdelleCyrillic-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('../fonts/adelle/AdelleCyrillic.eot');
	src: local('Adelle Cyrillic'), local('AdelleCyrillic'),
		url('../fonts/adelle/AdelleCyrillic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/adelle/AdelleCyrillic.woff') format('woff'),
		url('../fonts/adelle/AdelleCyrillic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('../fonts/adelle/AdelleCyrillic-Extrabold.eot');
	src: local('Adelle Cyrillic Extrabold'), local('AdelleCyrillic-Extrabold'),
		url('../fonts/adelle/AdelleCyrillic-Extrabold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/adelle/AdelleCyrillic-Extrabold.woff') format('woff'),
		url('../fonts/adelle/AdelleCyrillic-Extrabold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('../fonts/adelle/AdelleCyrillic-SemiBoldItalic.eot');
	src: local('Adelle Cyrillic SemiBold Italic'), local('AdelleCyrillic-SemiBoldItalic'),
		url('../fonts/adelle/AdelleCyrillic-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/adelle/AdelleCyrillic-SemiBoldItalic.woff') format('woff'),
		url('../fonts/adelle/AdelleCyrillic-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('../fonts/adelle/AdelleCyrillic-Light.eot');
	src: local('Adelle Cyrillic Light'), local('AdelleCyrillic-Light'),
		url('../fonts/adelle/AdelleCyrillic-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/adelle/AdelleCyrillic-Light.woff') format('woff'),
		url('../fonts/adelle/AdelleCyrillic-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('../fonts/adelle/AdelleCyrillic-HeavyItalic.eot');
	src: local('Adelle Cyrillic Heavy Italic'), local('AdelleCyrillic-HeavyItalic'),
		url('../fonts/adelle/AdelleCyrillic-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/adelle/AdelleCyrillic-HeavyItalic.woff') format('woff'),
		url('../fonts/adelle/AdelleCyrillic-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('../fonts/adelle/AdelleCyrillic-SemiBold.eot');
	src: local('Adelle Cyrillic SemiBold'), local('AdelleCyrillic-SemiBold'),
		url('../fonts/adelle/AdelleCyrillic-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/adelle/AdelleCyrillic-SemiBold.woff') format('woff'),
		url('../fonts/adelle/AdelleCyrillic-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}