*:focus {
    outline: none;
}

body {
    cursor: default;
}
a {
    -webkit-transition: color .3s, border-color .3s, background-color .3s, opacity .3s;
    -moz-transition: color .3s, border-color .3s, background-color .3s, opacity .3s;
    -ms-transition: color .3s, border-color .3s, background-color .3s, opacity .3s;
    transition: color .3s, border-color .3s, background-color .3s, opacity .3s;
    text-decoration: none !important;

    &:hover {
        text-decoration: none !important;
    }
}
img {
    max-width: 100%;
    height: unset;
    width: unset;
}

article {
    margin-bottom: 0;
}

/* Header */

.header {
    .logo {
        img {
            height: calc(var(--lineHeight) * 1.33333333);
            width: calc(var(--lineHeight) * 1.33333333);
        }
    }
    a {
        color: var(--colorWhite);

        &:hover {
            color: var(--colorWhite);
        }
    }
}

/* Description */

.header-description {
    p {
        line-height: calc(var(--lineHeight) * 1.7);
        font-weight: 600;
        font-size: var(--h1-size);

        margin-bottom: unset;
        margin-left: calc(var(--h1-size)/ -22);
        margin-top: unset;

        @media only screen and (max-width: @mobile-size) {
            
        }

        &:last-of-type {
            @media only screen and (max-width: @mobile-size) {
                font-size: calc(var(--fontSize) * 1.5);
                line-height: calc(var(--lineHeight) * 1.2);
                margin-top: calc(var(--lineHeight) / 1.5);
            }
        }
    }
}

.footer-description {
    p {
        font-size: var(--fontSize);
        margin-bottom: 0;

        @media only screen and (max-width: @mobile-size) {
            display: inline;
        }

        a {
            border-bottom: 1px solid var(--linkBorderColor);

            &:hover {
                border-color: var(--linkBorderColorHover);
            }
        }
    }   
}

/* Articles */

.articles {
    .title {
        margin-bottom: calc(var(--blockSpacingTop) * 0.7);;
    }
    .item {
        margin-top: calc(var(--blockSpacingTop) / 6);
        align-items: baseline;
        flex-wrap: wrap;
        display: flex;

        @media only screen and (max-width: @mobile-size) {
            margin-top: calc(var(--blockSpacingTop) / 3);
        }

        &:first-of-type {
            margin-top: 0;
        }

        h2, h3 {
            margin-bottom: 0;
            margin-right: 8px;
            margin-left: 0;
            margin-top: 0;

            padding-bottom: 0;
            padding-top: 0;

            line-height: var(--lineHeight);
            font-size: var(--fontSize);
            font-weight: normal;

            a {
                &:hover {
                    color: var(--colorBlue);
                }
            }
        }
        span {
            line-height: normal;

            time {
                vertical-align: baseline;
                color: var(--colorGray);
                font-weight: 500;
            }
        }
    }
    p {
        margin-top: calc(var(--blockSpacingTop) / 6);
        color: var(--colorGray);
        font-weight: 500;

        @media only screen and (max-width: @mobile-size) {
            margin-top: calc(var(--blockSpacingTop) / 3);
        }

        a {
            color: var(--colorGray);

            &:hover {
                color: var(--colorWhiteGray);
            }
        }
    }
}

/* Work */

.work {
    h1 {
        margin-bottom: 0;
    }
    & > :nth-child(2) {
        margin-top: 0;
    }
    & > :nth-last-child(2) {
        margin-bottom: 0;
    }
    footer {
        color: var(--colorGray);
        font-weight: 500;

        p {
            line-height: calc(var(--lineHeight) / 1.5);

            margin-bottom: 0;
            margin-top: 0;
        }
    }
}

.featured {
    border-radius: var(--borderElements);
    background-color: var(--colorPre);
    position: relative;
    overflow: hidden;

    img {
        margin-bottom: 0;
        margin-top: 0;
    }
    a {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }
}

/* Article */

.article {
    & > *{
        @media only screen and (max-width: @mobile-size) {
            grid-column: ~'1 / -1' !important;
        }
    }
    & > :nth-child(2) {
        margin-top: 0;
    }
    & > :nth-last-child(2) {
        margin-bottom: 0;
    }
    h2, h3, h4, h5, h6 {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 7;

        margin-bottom: 0;
        margin-top: var(--blockSpacingTop);

        padding-bottom: 0;
        padding-top: 0;
    }
    h2 {
        margin-top: calc(var(--blockSpacingTop) * 2);

        & + p {
            margin-top: calc(var(--blockSpacingTop) * 0.7);
        }
    }
    h3 {
        margin-top: calc(var(--blockSpacingTop) * 1.8);

        & + p {
            margin-top: calc(var(--blockSpacingTop) * 0.7);
        }
    }
    hr {
        height: 0;
    }
    p {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 7;
    }
    a {
        border-bottom: 1px solid var(--linkBorderColor);

        &:hover {
            border-bottom-color: var(--linkBorderColorHover);
            color: var(--colorBlue);
        }
    }
    ol {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 7;

        li {
            margin-bottom: 0;
            margin-left: 0;
            margin-top: 0;

            &:first-of-type {
                margin-top: 0;
            }
        }
    }
    ul {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 7;

        list-style-position: inside;
        padding-left: 0;

        li {
            margin-bottom: 0;
            margin-left: 0;
            margin-top: 0;

            &:first-of-type {
                margin-top: 0;
            }
        }
    }
    pre {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 7;

        font-size: 0.8rem;
        line-height: calc(var(--lineHeight) * 0.75);

        margin-top: var(--blockSpacingTop);

        background-color: var(--colorPre);
        border-radius: var(--borderElements);
        padding: var(--lineHeight);

        & + p,
        & + h2
        & + h3,
        & + h4,
        & + h5,
        & + h6,
        & + pre,
        & + figure {
            margin-top: calc(var(--blockSpacingTop) * 1.5);
        }

    }
    section {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 7;

        margin-top: calc(var(--blockSpacingTop) * 1.5);

        & + p,
        & + h2
        & + h3,
        & + h4,
        & + h5,
        & + h6,
        & + pre,
        & + figure {
            margin-top: calc(var(--blockSpacingTop) * 1.5);
        }
    }
    figure {
        img {
            margin-bottom: 0;
            margin-top: 0;
        }

        figcaption {
            line-height: calc(var(--lineHeight) * 0.75);
            font-size: 0.8rem;

            margin-top: calc(var(--baseline) / 2);

            color: var(--colorWhiteGray);
        }

        & + figure {
            margin-top: var(--lineHeight);
        }
        & + p,
        & + h2
        & + h3,
        & + h4,
        & + h5,
        & + h6,
        & + pre {
            margin-top: calc(var(--blockSpacingTop) * 1.5);
        }
    }
    hr {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 1;
        --grid-ce: 11;

        margin-top: calc(var(--blockSpacingTop) * 1.5);
    }
    .width-wide {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 10;
    }
    .width-full {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 1;
        --grid-ce: 11;
    }
    .msg {
        position: relative;

        &.msg--highlight {
            padding-left: var(--lineHeight);

            &::before {
                content: '';
                position: absolute;
                border-left: 4px solid var(--colorWhite);
                bottom: 0;
                left: 0;
                top: 0;
            }
        }

        &.msg--info {
            padding-left: var(--lineHeight);

            &::before {
                content: '';
                position: absolute;
                border-left: 4px solid var(--colorBlue);
                bottom: 0;
                left: 0;
                top: 0;
            }
        }

        &.msg--warning {
            padding-left: var(--lineHeight);

            &::before {
                content: '';
                position: absolute;
                border-left: 4px solid var(--colorRed);
                bottom: 0;
                left: 0;
                top: 0;
            }
        }
    }
    .post__image {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 7;

        &--center {
            grid-column-start: var(--grid-cs);
            grid-column-end: var(--grid-ce);
            --grid-cs: 2;
            --grid-ce: 7;
        }
        &--wide {
            grid-column-start: var(--grid-cs);
            grid-column-end: var(--grid-ce);
            --grid-cs: 2;
            --grid-ce: 10;
        }
    }
    .gallery-wrapper {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 7;

        margin-bottom: var(--blockSpacingBottom);
        margin-top: var(--blockSpacingTop);

        & + p,
        & + h2
        & + h3,
        & + h4,
        & + h5,
        & + h6,
        & + pre,
        & + figure {
            margin-top: calc(var(--blockSpacingTop) * 1.5);
        }

        .gallery {
            margin-bottom: 0;
            margin-top: 0;
            position: relative;
            right: -5px;
            left: -5px;
    
            @media all and (min-width: 20em) {
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }
    
            @media all and (min-width: 20em) {
                &[data-columns="1"] .gallery__item {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 100%;
                    flex: 1 0 100%;
                }
            }
    
            @media all and (min-width: 30em) {
                &[data-columns="2"] .gallery__item {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 50%;
                    flex: 1 0 50%;
                }
            }
    
            @media all and (min-width: 37.5em) {
                &[data-columns="3"] .gallery__item {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 33.333%;
                    flex: 1 0 33.333%;
                }
            }
    
            @media all and (min-width: 56.25em) {
                &[data-columns="4"] .gallery__item {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 25%;
                    flex: 0 1 25%;
                }
            }
    
            @media all and (min-width: 56.25em) {
                &[data-columns="5"] .gallery__item {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 20%;
                    flex: 0 1 20%;
                }
            }
    
            @media all and (min-width: 56.25em) {
                &[data-columns="6"] .gallery__item {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 16.666%;
                    flex: 0 1 16.666%;
                }
            }
    
            @media all and (min-width: 56.25em) {
                &[data-columns="7"] .gallery__item {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 14.285%;
                    flex: 1 0 14.285%;
                }
            }
            
            @media all and (min-width: 56.25em) {
                &[data-columns="8"] .gallery__item {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 12.5%;
                    flex: 1 0 12.5%;
                }
            }
    
            .gallery__item {
                position: relative;
                margin: 0;
    
                @media all and (min-width: 20em) {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 50%;
                    flex: 1 0 50%;
                }
    
                @media all and (min-width: 30em) {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 33.333%;
                    flex: 1 0 33.333%;
                }
    
                @media all and (min-width: 37.5em) {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 25%;
                    flex: 1 0 25%;
                }
    
                a {
                    border-bottom: 0;
                    display: block;
                    margin: 5px;
    
                    &::after {
                        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
                        background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
                        background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
                        background: linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
                        -webkit-transition: all .24s ease-out;
                        -o-transition: all .24s ease-out;
                        transition: all .24s ease-out;
                        height: calc(100% - 0.56667rem);
                        width: calc(100% - 0.56667rem);
                        position: absolute;
                        bottom: 0.28333rem;
                        right: 0.28333rem;
                        left: 0.28333rem;
                        top: 0.28333rem;
                        display: block;
                        content: '';
                        opacity: 0;
                    }
                    &:hover {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
    
                img {
                    -o-object-fit: cover;
                    object-fit: cover;
                    display: block;
                    height: 100%;
                    width: 100%;
                }
    
                figcaption {
                    -webkit-transform: translate(-50%, 1.2rem);
                    -ms-transform: translate(-50%, 1.2rem);
                    transform: translate(-50%, 1.2rem);
                    -webkit-transition: all .24s ease-out;
                    -o-transition: all .24s ease-out;
                    transition: all .24s ease-out;
                    color: var(--colorWhite);
                    text-align: center;
                    position: absolute;
                    bottom: 1.2rem;
                    opacity: 0;
                    left: 50%;
                }
    
                &:hover {
                    figcaption {
                        -webkit-transform: translate(-50%, 0);
                        -ms-transform: translate(-50%, 0);
                        transform: translate(-50%, 0);
                        opacity: 1;
                    }
                }
            }
        }
    }
    footer {
        time {
            color: var(--colorGray);
            font-weight: 500;
            display: block;
        }
    }
}

.error {
    p {
        a {
            border-bottom: 1px solid var(--linkBorderColor);
    
            &:hover {
                border-bottom-color: var(--linkBorderColorHover);
                color: var(--colorBlue);
            }
        }
    }
}

img[loading] {
    opacity: 0;

    &.is-loaded {
        opacity: 1;
        transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1); 
    }
}