*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
    min-height: 100%;
    width: 100vw;
}
body {
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    text-shadow: 0 0 1px rgba(0, 0, 0, .01);

    position: relative;
    height: 100%;
}
a {
    -webkit-transition: color .3s, border-color .3s, background-color .3s, opacity .3s;
    -moz-transition: color .3s, border-color .3s, background-color .3s, opacity .3s;
    -ms-transition: color .3s, border-color .3s, background-color .3s, opacity .3s;
    transition: color .3s, border-color .3s, background-color .3s, opacity .3s;

    text-decoration: none !important;

    &:hover {
        text-decoration: none !important;
    }
}
img {
    max-width: 100%;
    height: unset;
    width: unset;
}
h1 {
    font-family: var(--fontFamilyTitle);
}
h1, h2, h3, h4, h5, h6 {

}

.header {
    display: flex !important;
    justify-content: space-between;

    & > div {
        width: 100%;

        & > div {
            align-items: center;
            display: flex !important;
        }
    }

    .logotype {
        align-items: center;
        display: flex;

        & > a {
            display: block;

            &:hover {
                & + h1 {
                    a {
                        color: var(--colorBlue);
                    }
                }
            }
        }
        img {
            height: calc(var(--lineHeight) * 1.6);
            width: calc(var(--lineHeight) * 1.6);

            background-color: var(--background-color);
            border-radius: 50%;
    
            position: relative;
            overflow: hidden;

            pointer-events: none;

            margin-bottom: unset;
            margin-right: var(--baseline);
            margin-left: unset;
            margin-top: unset;
        }
    }

    .title {
        h1 {
            margin-bottom: unset;
            margin-right: unset;
            margin-left: unset;
            margin-top: unset;
    
            font-weight: normal;
    
            @media only screen and (min-width: @mobile-size + 1) {
                font-size: .8rem;
                line-height: calc(var(--lineHeight) * .75);
            }
            @media only screen and (max-width: @mobile-size) {
                font-size: var(--fontSize);
                line-height: var(--lineHeight);
            }
    
            a {
                color: var(--colorWhite);
    
                &:hover {
                    color: var(--colorBlue);
                }
    
                &.type-tag {
                    text-transform: lowercase;
                }
            }
        }
        p {
            margin-bottom: unset;
            margin-top: unset;
    
            font-size: .65rem;
            font-weight: 500;
            line-height: calc(var(--lineHeight) * .7);
    
            color: var(--colorGray);
        }
    }

    .navigation {
        display: flex;
        align-items: center;

        nav {
            display: flex;
            align-items: center;
    
            @media only screen and (max-width: @mobile-size) {
                margin-left: calc(calc(var(--lineHeight) * 1.6) + var(--baseline));
            }
    
            .menu {
                display: flex;
                align-items: center;
    
                list-style: none;
            
                margin-bottom: unset;
                margin-right: unset;
                margin-left: unset;
                margin-top: unset;
            
                padding-bottom: unset;
                padding-right: unset;
                padding-left: unset;
                padding-top: unset;
            
                li {
                    margin-bottom: unset;
                    margin-right: var(--baseline);
                    margin-left: unset;
                    margin-top: unset;
    
                    display: inherit;
    
                    &:last-of-type {
                        margin-right: unset;
                    }
                }
            }
        }
        & > div {
            margin-left: var(--baseline);

            p {
                margin-bottom: unset;
                margin-top: unset;

                i {
                    min-height: 0.8rem;
                    min-width: 0.8rem;
                }
            }
        }
    }
}

/* Aside */

.section-aside {
    .menu {
        list-style: none;
        padding: unset;
        margin: unset;

        li {
            padding: unset;
            margin: unset;
        }
    }
}

/* Articles list */

.section-articles {
    position: relative;

    &::before {
        content: '';

        position: absolute;
        z-index: -10;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;

        background-color: var(--colorDarkenGray);

        -webkit-filter: url(#goo);
        -moz-filter: url(#goo);
        filter: url(#goo);
    }

    .head {
        p {
            margin-bottom: 1rem;
            color: var(--colorGray);
        }
    }

    article {
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        h2 {
            font-weight: var(--fontWeight);
            font-size: var(--fontSize);
            
            line-height: var(--lineHeight);

            margin-bottom: 0;
            margin-right: 0;
            margin-left: 0;
            margin-top: 0;

            a {
                color: var(--colorWhite);
                display: inline-block;
    
                &:hover {
                    color: var(--colorBlue);
                }
            }
        }
        time {

        }
    }

    .tag {
        &:first-child {
            display: none;
        }
    }
}

.section-works {
    .slick-list {
        overflow: unset;
    }
    article {
        .thumbnail {
            position: relative;
            overflow: hidden;

            padding-top: 56.25%;

            cursor: grab;

            height: 0;
            width: unset;

            @media only screen and (min-width: @mobile-size + 1) {
                margin-right: calc(var(--lineHeight) * 2);
            }
            @media only screen and (max-width: @mobile-size) {
                margin-right: var(--lineHeight);
            }

            & > img {
                object-fit: cover;
                object-position: top center;

                margin-bottom: unset;
                margin-top: unset;

                position: absolute;
                height: 100%;
                width: 100%;
                bottom: 0;
                right: 0;
                left: 0;
                top: 0;

                background-color: var(--colorElements);

                -webkit-filter: url(#goo);
                -moz-filter: url(#goo);
                filter: url(#goo);    
            }
            & > a {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                top: 0;
            }
        }
    }
}

/* Footer */

.footer {
    p {
        margin-bottom: 0;
        margin-top: 0;

        color: var(--colorGray);

        a {
            border-bottom: 1px solid;
            border-bottom-color: rgba(var(--colorRgbGray), 0.3);
    
            &:hover {
                border-bottom-color: var(--linkBorderColorHover);
                color: var(--colorBlue);
            }

            &.homepage {
                border-bottom: unset;

                &:hover {
                    color: var(--colorBlue);
                }
            }
        }
    }
}

.section-error {
    h1 {
        font-size: 10rem;
        line-height: 1;
    }
    p {
        a {
            border-bottom: 1px solid;
            border-bottom-color: rgba(var(--colorRgbWhite), 0.3);
    
            &:hover {
                border-bottom-color: var(--linkBorderColorHover);
                color: var(--colorBlue);
            }
        }
    }
}

/* Goo */

.goo-frame {
    visibility: hidden;
    position: absolute;
}
.goo {
    position: relative;

    &::after {
        background-color: var(--colorElements);
        border-radius: var(--borderElements);

        position: absolute;
        z-index: -10;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;

        content: '';
    }
}
.goo-desktop {
    position: relative;

    @media only screen and (min-width: @mobile-size + 1) {
        &::after {
            background-color: var(--colorElements);
            border-radius: var(--borderElements);

            position: absolute;
            z-index: -10;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;

            content: '';
        }
    }
}
.goo-mobile {
    position: relative;

    @media only screen and (max-width: @mobile-size) {
        &::after {
            background-color: var(--colorElements);
            border-radius: var(--borderElements);

            position: absolute;
            z-index: -10;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;

            content: '';
        }
    }
}

.color-gray {
    color: var(--colorGray);
}

/* Stuff */

.button {
    a {
        color: var(--colorGray);

        &:hover {
            color: var(--colorLightGray);
        }
    }
}

img[loading] {
    opacity: 0;

    &.is-loaded {
        opacity: 1;
        transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1); 
    }
}