*:focus {
    outline: none;
}

body {
    height: 100%;
}
a {
    -webkit-transition: color .3s, border-color .3s, background-color .3s, opacity .3s;
    -moz-transition: color .3s, border-color .3s, background-color .3s, opacity .3s;
    -ms-transition: color .3s, border-color .3s, background-color .3s, opacity .3s;
    transition: color .3s, border-color .3s, background-color .3s, opacity .3s;
    text-decoration: none !important;

    &:hover {
        text-decoration: none !important;
    }
}
img {
    max-width: 100%;
    height: unset;
    width: unset;
}
h1 {
    font-family: var(--fontFamilyTitle);
}
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.2rem;
}

article {
    margin-bottom: 0;
}

/* Header */

.header {
    .logo {
        img {
            height: calc(var(--lineHeight) * 1.33333333);
            width: calc(var(--lineHeight) * 1.33333333);
        }
    }
    a {
        color: var(--colorWhite);

        &:hover {
            color: var(--colorWhite);
        }
    }

    nav {
        .menu {
            margin-bottom: 0;
            margin-right: 0;
            margin-left: 0;
            margin-top: 0;

            list-style: none;
            display: flex;

            li {
                margin-bottom: 0;
                margin-right: 0;
                margin-left: 0;
                margin-top: 0;

                padding-bottom: 0;
                padding-right: 0;
                padding-left: 0;
                padding-top: 0;

                &:last-of-type {
                    a {
                        margin-right: 0 !important;
                    }
                }

                a {
                    font-family: var(--fontFamilySubTitle);
                    text-transform: uppercase;
                    letter-spacing: 0.1rem;
                }
            }
        }
    }
}

/* Description */

.header-description {
    h1 {
        font-family: var(--fontFamilyTitle);
        text-transform: uppercase;

        margin-bottom: unset;
        margin-left: calc(var(--h1-size) / -22);
        margin-top: unset;

        @media only screen and (min-width: @mobile-size + 1) {
            line-height: calc(var(--lineHeight) * 3.8);
            font-size: calc(var(--h1-size) * 2.485);
        }
        @media only screen and (max-width: @mobile-size) {
            line-height: calc(var(--lineHeight) * 3);
            font-size: calc(var(--h1-size) * 1.8);
        }

        span {
            -webkit-text-stroke-color: var(--colorWhiteGray);
            -webkit-text-stroke-width: 1px;
            font-weight: inherit;
            font-style: inherit;
            color: transparent;
        }
    }
}

.blog-description {
    p {
        padding-bottom: var(--lineHeight);
        padding-right: var(--lineHeight);
        padding-left: var(--lineHeight);
        padding-top: var(--lineHeight);

        background-color: var(--colorWhite);
        color: var(--colorBlack);
        line-height: var(--lineHeight);
        font-size: 1.25rem;

        position: relative;
        display: inline;

        span {
            position: relative;
            z-index: 10;
        }

        a {
            border-bottom: 1px solid;
            border-bottom-color: rgba(var(--colorRgbBlack), 0.3);

            &:hover {
                border-bottom-color: var(--linkBorderColorHover);
                color: var(--colorBlue);
            }
        }
    }
}

.footer-description {
    p {
        font-size: var(--fontSize);
        margin-bottom: 0;

        @media only screen and (max-width: @mobile-size) {
            display: inline;
        }

        a {
            border-bottom: 1px solid var(--linkBorderColor);

            &:hover {
                border-color: var(--linkBorderColorHover);
            }
        }
    }   
}

/* Author */

.author-description {
    h1 {
        @media only screen and (min-width: @mobile-size + 1) {
            line-height: calc(var(--lineHeight) * 3.8);
            font-size: calc(var(--h1-size) * 2.4);
        }
        @media only screen and (max-width: @mobile-size) {
            line-height: calc(var(--lineHeight) * 3);
            font-size: calc(var(--h1-size) * 1.8);
        }

        margin-bottom: 0;
        margin-top: 0;
    }
    p {
        margin-bottom: 0;
        margin-top: calc(var(--blockSpacingTop) / 3);
    }
}

/* Articles */

.articles {
    .list {
        position: relative;

        &.list-block {
            background-color: var(--colorElements);
        }

        .title {
            text-transform: uppercase;
            font-family: var(--fontFamilySubTitle);

            margin-bottom: calc(var(--blockSpacingTop) / 2);
            margin-left: 0;
            margin-top: -0.3rem;

            a {
                align-items: center;
                display: flex;

                width: intrinsic;
                width: -moz-max-content;
                width: -webkit-max-content;

                i {
                    -webkit-transition: transform .2s linear, color .3s;
                    -moz-transition: transform .2s linear, color .3s;
                    transition: transform .2s linear, color .3s;

                    color: var(--colorGray);
                    margin-left: 0.5rem;
                    font-size: 1rem;
                }

                &:hover {
                    i {
                        -webkit-transform: translateX(10px);
                        -moz-transform: translateX(10px);
                        transform: translateX(10px);
                        color: var(--colorLightGray);
                    }
                }
            }
        }
        .item {
            margin-top: calc(var(--blockSpacingTop) / 6);
            align-items: baseline;
            flex-wrap: wrap;
            display: flex;
    
            @media only screen and (max-width: @mobile-size) {
                margin-top: calc(var(--blockSpacingTop) / 3);
            }
    
            &:first-child {
                margin-top: 0;
            }
    
            h2, h3 {
                margin-bottom: 0;
                margin-right: 0.5rem;
                margin-left: 0;
                margin-top: 0;
    
                padding-bottom: 0;
                padding-top: 0;
    
                line-height: var(--lineHeight);
                font-size: var(--fontSize);
                font-weight: var(--fontWeight);
                letter-spacing: 0;
            }
            a {
                color: var(--colorWhiteGray);
        
                &:hover {
                    color: var(--colorBlue);
                }
            }
            span {
                line-height: normal;
    
                time {
                    vertical-align: baseline;
                    color: var(--colorGray);
                }
            }

            &.readmore {
                align-items: center;
                display: flex;

                a {
                    border-bottom: 0;
                    color: var(--colorGray);

                    align-items: center;
                    display: flex;

                    &:hover {
                        color: var(--colorWhiteGray);
                    }
                }
            }
        }
    }
}

/* Work */

.work {
    & > div {
        background-color: var(--colorElements);

        @media only screen and (min-width: @mobile-size + 1) {
            top: var(--lineHeight);
        }
    }

    h1 {
        @media only screen and (min-width: @mobile-size + 1) {
            line-height: calc(var(--lineHeight) * 2.2);
            font-size: calc(var(--h1-size) * 1.4);
        }

        margin-bottom: 0;
    }
    p {
        color: var(--colorWhiteGray);

        margin-bottom: 0;
        margin-top: 0;
    }
    & > :nth-child(2) {
        margin-top: 0;
    }
    & > :nth-last-child(2) {
        margin-bottom: 0;
    }
    footer {
        p {
            line-height: calc(var(--lineHeight) / 1.5);
            color: var(--colorGray);

            margin-bottom: 0;
            margin-top: 0;
        }
    }
}

.featured {
    position: relative;
    overflow: hidden;
    
    figure {
        background-color: var(--colorElements);
        position: relative;
        overflow: hidden;
    
        img {
            margin-bottom: 0;
            margin-top: 0;
        }
        a {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
        }
    }
}

/* Article */

.article {
    header {
        h1 {
            @media only screen and (min-width: @mobile-size + 1) {
                line-height: calc(var(--lineHeight) * 3);
                font-size: calc(var(--h1-size) * 1.9);
            }

            margin-bottom: 0;

            & + p {
                margin-top: calc(var(--lineHeight) / 2);
            }
        }
    }

    & > *{
        @media only screen and (max-width: @mobile-size) {
            grid-column: ~'1 / -1' !important;
        }
    }
    & > :nth-child(2) {
        margin-top: 0;
    }
    & > :nth-last-child(2) {
        margin-bottom: 0;
    }
    h2, h3, h4, h5, h6 {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 7;

        margin-bottom: 0;
        margin-top: var(--blockSpacingTop);

        padding-bottom: 0;
        padding-top: 0;

        font-family: var(--fontFamilySubTitle);
    }
    h2 {
        margin-top: calc(var(--blockSpacingTop) * 2);
        margin-left: 0;

        & + p {
            margin-top: calc(var(--blockSpacingTop) * 0.8);
        }
        & + h3 {
            margin-top: var(--blockSpacingTop);
        }
    }
    h3 {
        margin-top: calc(var(--blockSpacingTop) * 1.8);
        margin-left: 0;

        & + p {
            margin-top: calc(var(--blockSpacingTop) * 0.8);
        }
    }
    hr {
        height: 0;
    }
    p {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 7;

        color: var(--colorWhiteGray);
    }
    a {
        border-bottom: 1px solid var(--linkBorderColor);

        &:hover {
            border-bottom-color: var(--linkBorderColorHover);
            color: var(--colorBlue);
        }
    }
    ul, ol {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);

        --grid-cs: 2;
        --grid-ce: 7;

        @media only screen and (min-width: @mobile-size + 1) {
            list-style-position: inside;
        }

        li {
            color: var(--colorWhiteGray);

            margin-bottom: 0;
            margin-left: 0;
            margin-top: 0;

            &:first-of-type {
                margin-top: 0;
            }

            &::before {
                color: var(--colorGray);
            }
        }
    }
    ul {
        padding-left: 0;
    }
    pre {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 7;

        font-size: 0.8rem;
        line-height: calc(var(--lineHeight) * 0.75);

        margin-top: var(--blockSpacingTop);

        background-color: var(--colorPre);
        padding-bottom: var(--lineHeight);
        padding-right: var(--lineHeight);
        padding-left: var(--lineHeight);
        padding-top: var(--lineHeight);

        @media only screen and (max-width: @mobile-size) {
            margin-right: calc(-1 * var(--lineHeight));
            margin-left: calc(-1 * var(--lineHeight));
        }

        @media only screen and (min-width: @mobile-size + 1) {
            -webkit-filter: url('#goo');
            filter: url('#goo');    
        }

        & + p,
        & + h2
        & + h3,
        & + h4,
        & + h5,
        & + h6,
        & + pre,
        & + figure {
            margin-top: calc(var(--blockSpacingTop) * 1.5);
        }

    }
    section {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 7;

        margin-top: calc(var(--blockSpacingTop) * 1.5);

        & + p,
        & + h2
        & + h3,
        & + h4,
        & + h5,
        & + h6,
        & + pre,
        & + figure {
            margin-top: calc(var(--blockSpacingTop) * 1.5);
        }
    }
    figure {
        img {
            margin-bottom: 0;
            margin-top: 0;
        }

        figcaption {
            line-height: calc(var(--lineHeight) * 0.75);
            font-size: 0.8rem;

            margin-top: calc(var(--baseline) / 2);

            color: var(--colorWhiteGray);
        }

        & + figure {
            margin-top: var(--lineHeight);
        }
        & + p,
        & + h2
        & + h3,
        & + h4,
        & + h5,
        & + h6,
        & + pre {
            margin-top: calc(var(--blockSpacingTop) * 1.5);
        }
    }
    hr {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 1;
        --grid-ce: 11;

        margin-top: calc(var(--blockSpacingTop) * 1.5);
    }
    .width-wide {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 10;
    }
    .width-full {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 1;
        --grid-ce: 11;
    }
    .msg {
        position: relative;
        padding-left: var(--lineHeight);

        &::before {
            content: '';
            position: absolute;
            border-radius: 50px;
            border-left: 4px solid;
            bottom: 0;
            left: 0;
            top: 0;
        }

        &.msg--highlight {
            &::before {
                border-left-color: var(--colorWhite);
            }
        }

        &.msg--info {
            &::before {
                border-left-color: var(--colorBlue);
            }
        }

        &.msg--warning {
            &::before {
                border-left-color: var(--colorRed);
            }
        }
    }
    .post__image {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 7;

        &--center {
            grid-column-start: var(--grid-cs);
            grid-column-end: var(--grid-ce);
            --grid-cs: 2;
            --grid-ce: 7;
        }
        &--wide {
            grid-column-start: var(--grid-cs);
            grid-column-end: var(--grid-ce);
            --grid-cs: 2;
            --grid-ce: 10;
        }
    }
    .post__iframe {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 7;

        &--center {
            grid-column-start: var(--grid-cs);
            grid-column-end: var(--grid-ce);
            --grid-cs: 2;
            --grid-ce: 7;
        }
        &--wide {
            grid-column-start: var(--grid-cs);
            grid-column-end: var(--grid-ce);
            --grid-cs: 2;
            --grid-ce: 10;
        }
    }
    .post__video {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 7;

        &--center {
            grid-column-start: var(--grid-cs);
            grid-column-end: var(--grid-ce);
            --grid-cs: 2;
            --grid-ce: 7;
        }
        &--wide {
            grid-column-start: var(--grid-cs);
            grid-column-end: var(--grid-ce);
            --grid-cs: 2;
            --grid-ce: 10;
        }

        padding-top: 56.25%;
        position: relative;
        width: 100%;

        iframe {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }
    }
    .gallery-wrapper {
        grid-column-start: var(--grid-cs);
        grid-column-end: var(--grid-ce);
        --grid-cs: 2;
        --grid-ce: 7;

        margin-bottom: var(--blockSpacingBottom);
        margin-top: var(--blockSpacingTop);

        & + p,
        & + h2
        & + h3,
        & + h4,
        & + h5,
        & + h6,
        & + pre,
        & + figure {
            margin-top: calc(var(--blockSpacingTop) * 1.5);
        }

        .gallery {
            margin-bottom: 0;
            margin-top: 0;
            position: relative;
            right: -5px;
            left: -5px;
    
            @media all and (min-width: 20em) {
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }
    
            @media all and (min-width: 20em) {
                &[data-columns="1"] .gallery__item {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 100%;
                    flex: 1 0 100%;
                }
            }
    
            @media all and (min-width: 30em) {
                &[data-columns="2"] .gallery__item {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 50%;
                    flex: 1 0 50%;
                }
            }
    
            @media all and (min-width: 37.5em) {
                &[data-columns="3"] .gallery__item {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 33.333%;
                    flex: 1 0 33.333%;
                }
            }
    
            @media all and (min-width: 56.25em) {
                &[data-columns="4"] .gallery__item {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 25%;
                    flex: 0 1 25%;
                }
            }
    
            @media all and (min-width: 56.25em) {
                &[data-columns="5"] .gallery__item {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 20%;
                    flex: 0 1 20%;
                }
            }
    
            @media all and (min-width: 56.25em) {
                &[data-columns="6"] .gallery__item {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 16.666%;
                    flex: 0 1 16.666%;
                }
            }
    
            @media all and (min-width: 56.25em) {
                &[data-columns="7"] .gallery__item {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 14.285%;
                    flex: 1 0 14.285%;
                }
            }
            
            @media all and (min-width: 56.25em) {
                &[data-columns="8"] .gallery__item {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 12.5%;
                    flex: 1 0 12.5%;
                }
            }
    
            .gallery__item {
                position: relative;
                margin: 0;
    
                @media all and (min-width: 20em) {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 50%;
                    flex: 1 0 50%;
                }
    
                @media all and (min-width: 30em) {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 33.333%;
                    flex: 1 0 33.333%;
                }
    
                @media all and (min-width: 37.5em) {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 25%;
                    flex: 1 0 25%;
                }
    
                a {
                    border-bottom: 0;
                    display: block;
                    margin: 5px;
    
                    &::after {
                        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
                        background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
                        background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
                        background: linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
                        -webkit-transition: all .24s ease-out;
                        -o-transition: all .24s ease-out;
                        transition: all .24s ease-out;
                        height: calc(100% - 0.56667rem);
                        width: calc(100% - 0.56667rem);
                        position: absolute;
                        bottom: 0.28333rem;
                        right: 0.28333rem;
                        left: 0.28333rem;
                        top: 0.28333rem;
                        display: block;
                        content: '';
                        opacity: 0;
                    }
                    &:hover {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
    
                img {
                    -o-object-fit: cover;
                    object-fit: cover;
                    display: block;
                    height: 100%;
                    width: 100%;
                }
    
                figcaption {
                    -webkit-transform: translate(-50%, 1.2rem);
                    -ms-transform: translate(-50%, 1.2rem);
                    transform: translate(-50%, 1.2rem);
                    -webkit-transition: all .24s ease-out;
                    -o-transition: all .24s ease-out;
                    transition: all .24s ease-out;
                    color: var(--colorWhite);
                    text-align: center;
                    position: absolute;
                    bottom: 1.2rem;
                    opacity: 0;
                    left: 50%;
                }
    
                &:hover {
                    figcaption {
                        -webkit-transform: translate(-50%, 0);
                        -ms-transform: translate(-50%, 0);
                        transform: translate(-50%, 0);
                        opacity: 1;
                    }
                }
            }
        }
    }
    .slider {
        margin-top: calc(var(--blockSpacingTop) * 1.5);

        @media only screen and (min-width: @mobile-size + 1) {
            margin-right: calc(var(--lineHeight) * -2);
            margin-left: calc(var(--lineHeight) * -2);
        }
        @media only screen and (max-width: @mobile-size) {
            margin-right: calc(var(--lineHeight) / -2);
            margin-left: calc(var(--lineHeight) / -2);
        }

        img {
            background-color: var(--colorElements);
            border-radius: var(--border-radius);
            cursor: hand;
            cursor: -webkit-grab;
        }

        .item {
            margin-right: calc(var(--lineHeight) / 2);
            margin-left: calc(var(--lineHeight) / 2);
        }
    }
    .info {
        @media only screen and (min-width: @mobile-size + 1) {
            display: flex !important;

            padding-bottom: calc(var(--lineHeight) / 5);
            padding-right: var(--lineHeight);
            padding-left: var(--lineHeight);
            padding-top: calc(var(--lineHeight) / 5);
    
            background-color: var(--colorElements);
            border-radius: var(--border-radius);
        }

        p {
            color: var(--colorGray);

            span, a {
                color: var(--colorGray);
            }
            a {
                border-bottom-color: var(--colorDarkGray);

                &:hover {
                    border-bottom-color: var(--colorLightGray);
                    color: var(--colorWhiteGray);
                }
            }

            @media only screen and (min-width: @mobile-size + 1) {
                margin-bottom: 0;
                margin-right: 1rem;
                margin-top: 0;
            }
            @media only screen and (max-width: @mobile-size) {
                margin-bottom: 0;
                margin-top: 0.25rem;

                &:first-of-type {
                    margin-top: 0;
                }
            }
        }

        .tags {
            span {
                &::after {
                    content: ', ';
                }

                &:last-of-type {
                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
    .buttons {
        display: flex !important;

        @media only screen and (max-width: @mobile-size) {
            flex-direction: column;
        }

        a {
            @media only screen and (min-width: @mobile-size + 1) {
                margin-right: var(--lineHeight);

                &:last-child {
                    margin-right: 0;
                }
            }
            @media only screen and (max-width: @mobile-size) {
                margin-top: calc(var(--lineHeight) / 2);

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
    .bth {
        background-color: var(--colorBlue);
        border-radius: var(--border-radius);
        color: var(--colorWhite);

        padding-bottom: calc(var(--lineHeight) / 2);
        padding-right: var(--lineHeight);
        padding-left: var(--lineHeight);
        padding-top: calc(var(--lineHeight) / 2);

        line-height: calc(var(--lineHeight) * .75);
        font-size: .8rem;

        justify-content: center;
        text-decoration: none;
        align-items: center;
        display: flex;

        border: 0;

        @media only screen and (min-width: @mobile-size + 1) {
            width: 100%;
        }

        &:hover {
            background-color: var(--colorDarkBlue);
            color: var(--colorWhite);
        }
    }
    .footer {
        color: var(--colorGray);

        align-items: center;
        display: flex;

        i {
            margin-right: 0.25rem;
        }

        time {
            display: block;

            @media only screen and (min-width: @mobile-size + 1) {
                margin-right: 1rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.error {
    p {
        a {
            border-bottom: 1px solid var(--linkBorderColor);
    
            &:hover {
                border-bottom-color: var(--linkBorderColorHover);
                color: var(--colorBlue);
            }
        }
    }
}

/* Stars */

.particles {
    pointer-events: none;
    overflow: hidden;
    z-index: -100;
    width: 100vw;
    right: 0;
    left: 0;
    top: 0;

    &::before {
        background: -webkit-linear-gradient(0deg, var(--background-color) 0%, rgba(255, 255, 255, 0) 100%);
        background: -moz-linear-gradient(0deg, var(--background-color) 0%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(0deg, var(--background-color) 0%, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        content: '';
        z-index: 50;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }

    &.particles-full {
        position: absolute;
        height: 100vh;
    }
    &.particles-overlay {
        position: absolute;

        @media only screen and (min-width: @mobile-size + 1) {
            height: 100vh;
        }
        @media only screen and (max-width: @mobile-size) {
            height: 50vh;
        }
    }
}

/* Landing */

.landing {
    .section-body {
        position: relative;
        min-height: 100vh;
        height: 100%;

        & > div {
            height: calc(100% - var(--lineHeight) - var(--lineHeight));
            height: -moz-available;
            height: -webkit-fill-available;
            height: fill-available;
        }
    }
}

/* Goo */

.goo-frame {
    visibility: hidden;
    position: absolute;
}
.goo {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-filter: url('#goo');
    filter: url('#goo');
}
.goo-desktop {
    @media only screen and (min-width: @mobile-size + 1) {
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        -webkit-filter: url('#goo');
        filter: url('#goo');
    }
}

/* Scroll */

.scroll-downs {
    position: relative;
    justify-content: center;
    display: flex;

    .mousey {
        border: 1px solid var(--colorWhite);
        box-sizing: content-box;
        padding: 0.5rem 0.625rem;
        border-radius: 1rem;
        height: 1.25rem;
        width: 0.125rem;

        .scroller {
            background-color: var(--colorWhite);
            animation-timing-function: cubic-bezier(.15,.41,.69,.94);
            animation-iteration-count: infinite;
            animation-duration: 2.2s;
            animation-name: scroll;
            border-radius: 25%;
            height: 0.417rem;
            width: 0.125rem;
        }
    }

    @keyframes scroll {
        0% { opacity: 0; }
        10% { transform: translateY(0); opacity: 1; }
        100% { transform: translateY(15px); opacity: 0;}
    }
}

/* Stuff */

.button {
    a {
        color: var(--colorGray);

        &:hover {
            color: var(--colorLightGray);
        }
    }
}

img[loading] {
    opacity: 0;

    &.is-loaded {
        opacity: 1;
        transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1); 
    }
}

canvas {
    display: block;
    vertical-align: bottom;
}