/* Media */

@sm:                ~'(min-width: 421px)';
@md:                ~'(min-width: 769px)';
@lg:                ~'(min-width: 1025px)';
@xl:                ~'(min-width: 1115px)';

@msm:               ~'(max-width: 420px)';
@mmd:               ~'(max-width: 769px)';
@mlg:               ~'(max-width: 1024px)';
@mxl:               ~'(max-width: 1114px)';

@bodyBackground:    rgb(30, 30, 47);
@bodyFontFamily:    'Trebuchet MS', @sans-serif;
@bodyFontSize:      1em;

@wrapperWidth:      43.75rem;

@textColor:         rgb(0, 0, 0);
@textSubColor:      rgb(204, 203, 203);
@textMarkerColor:   rgb(255, 255, 0);
@linkHoverColor:    rgb(0, 122, 255);
@border:            rgba(204, 203, 203, 0.5);

@postBackground:    rgb(255, 255, 255);

@colorWhite:        rgb(255, 255, 255);
@colorGray:         rgb(224, 224, 230);

@postFontFamily:    'Trebuchet MS', @sans-serif;
@postFontSize:      1em;
@postSmallFontSize: 0.825rem;
@postMarginBottom:  1.5rem;
@postMarginTop:     1.5rem;

@sans-serif:        -apple-system, BlinkMacSystemFont, San Francisco, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Segoe UI, Fira Sans, Roboto, Oxygen, Ubuntu, Droid Sans, Arial, sans-serif;
@serif:             'Georgia', serif;