:root {
    --background-color:     rgb(0, 0, 0);

    --colorWhite:           rgb(255, 255, 255);
    --colorBlue:            rgb(76, 117, 242);
    --colorDarkBlue:        rgb(72, 1, 255);
    --colorRed:             rgb(238, 39, 17);
    --colorYellow:          rgb(255, 197, 0);
    --colorDarkGray:        rgb(18, 18, 20);
    --colorDarkenGray:      rgb(12, 12, 14);
    --colorDarkestGray:     rgb(22, 22, 24);
    --colorGray:            rgb(114, 114, 125);
    --colorLightGray:       rgb(130, 130, 130);
    --colorWhiteGray:       rgb(230, 230, 230);
    --colorBlack:           rgb(0, 0, 0);

    --colorRgbBlack:        0, 0, 0;
    --colorRgbWhite:        255, 255, 255;
    --colorRgbGray:         114, 114, 125;

    --colorPre:             rgb(0, 0, 0);
    --colorElements:        rgb(15, 15, 17);

    --borderElements:       0;
    --shadowElements:       rgba(0, 0, 0, .05);

    --borderImage:          0;

    --fontFamilyTitle:      'Inter', -apple-system, BlinkMacSystemFont, San Francisco, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Segoe UI, Fira Sans, Roboto, Oxygen, Ubuntu, Droid Sans, Arial, sans-serif;
    --fontFamilySubTitle:   'Inter', -apple-system, BlinkMacSystemFont, San Francisco, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Segoe UI, Fira Sans, Roboto, Oxygen, Ubuntu, Droid Sans, Arial, sans-serif;
    --fontFamilyText:       'Adelle Cyrillic', serif;
}