/* Media */

@sm:                ~'(min-width: 421px)';
@md:                ~'(min-width: 796px)';
@lg:                ~'(min-width: 1098px)';
@xl:                ~'(min-width: 1280px)';

@msm:               ~'(max-width: 420px)';
@mmd:               ~'(max-width: 795px)';
@mlg:               ~'(max-width: 1097px)';
@mxl:               ~'(max-width: 1279px)';

@htmlBackground:    rgb(39, 36, 37);
@bodyBackground:    rgb(51, 46, 48);
@bodyFontFamily:    @sans-serif;
@bodyFontSize:      1em;

@wrapperWidth:      43.75rem;

@textColor:         rgb(0, 0, 0);
@textSubColor:      rgb(204, 203, 203);
@textMarkerColor:   rgb(255, 255, 0);
@linkHoverColor:    rgb(0, 122, 255);
@border:            rgb(229, 229, 229);

@postBackground:    rgb(255, 255, 255);

@colorWhite:        rgb(255, 255, 255);
@colorGray:         rgb(224, 224, 230);
@colorBlack:        rgb(0, 0, 0);

@postFontFamily:    'Adelle Cyrillic', @sans-serif;
@postFontSize:      1.125em;
@postSmallFontSize: 0.825rem;
@postMarginBottom:  1.5rem;
@postMarginTop:     1.5rem;

@titleFontFamily:   @sans-serif;

@sans-serif:        -apple-system, BlinkMacSystemFont, San Francisco, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Segoe UI, Fira Sans, Roboto, Oxygen, Ubuntu, Droid Sans, Arial, sans-serif;
@serif:             'Georgia', serif;